.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

p {
    padding: auto;
}

div .card.CA img {
    height:  auto !important;
    width: auto!important;

}

* {
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    font-family: fantasy;
}

p .copa {
    padding-left: 40px !important;
}

.slideshow-img {
    width: 100%;
    height: 38vw;
    object-fit: cover;
}